{% load static%}
<html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="home.css">
    <title>Shared Shelf-Lend your Book</title>
    <link rel="stylesheet" href="{% static 'css/donate.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Trade+Winds&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" class="navfont" style="background-color: black;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
                <lable class="Wname">SharedShelf</lable>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li id="li" class="active"><a href="{% url 'index' %}">HOME</a></li>
                    <li id="li"><a href="{% url 'donate' %}">Donate</a></li>
                    <li id="li"><a href="{% url 'borrow_list' %}">Borrow</a></li>
                    <li id="li"><a href="{% url 'help' %}">HELP</a></li>
                    <li id="li"><a href="admin">Admin</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li id="li"><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
                    {% else %}
                    <li id="li"><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li id="li"><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <br>
    <br>
    <div style="margin-top: 60x;">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags}} ">
            {{ message }}
        </div>
        {% endfor %} {% endif %}
    </div>

    <br>
    <br>


    <div class="container">
        <div class="jumbotron ">
            <img src="{% static 'images/logo.png' %} " alt=" " class="logo ">
            <h1 class="head ">Shared Shelf</h1>
            <h2>Someone's throwaway is someone's treasure...</h2>
        </div>


        <div class="panel panel-default ">
            <div class="panel-body">
                <form method="POST " enctype="multipart/form-data ">
                    {% csrf_token %}
                    <label for="branch " style="margin-top: 40px; width: 125px; ">Branch</label> {{ form.Branch }}


                    <br>

                    <label for="year " style="margin-top: 40px; width: 125px; ">Year</label> {{ form.Year }}
                    <br>

                    <label for="subject " style="margin-top: 40px; ">Subject</label> {{ form.Subject }}

                    <br>

                    <td><label for="publication ">Publication</label>
                        <td class="answer ">{{ form.Publication }}

                            <br>

                            <label for="author ">Author</label> {{ form.Author }}

                            <br>

                            <label for="subject-code ">Subject-Code</label> {{ form.Subject_code }}

                            <br>

                            <label for="image ">Images:</label> {{form.Image}}
                            <button type="submit " style="margin-left: 45%; margin-top: 2%; padding: 5px; " class="image ">SUBMIT</button>


                </form>

            </div>
        </div>
    </div>
</body>

</html>