<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Trade+Winds&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/help.css' %}">

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" class="navfont" style="background-color: black;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
                <lable class="Wname">SharedShelf</lable>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li id="li" class="active"><a href="{% url 'index' %}">HOME</a></li>
                    <li id="li"><a href="{% url 'donate' %}">Donate</a></li>
                    <li id="li"><a href="{% url 'borrow_list' %}">Borrow</a></li>
                    <li id="li"><a href="{% url 'help' %}">HELP</a></li>
                    <li id="li"><a href="admin">Admin</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li id="li"><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
                    {% else %}
                    <li id="li"><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li id="li"><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


    <div class='photu'>
        <img style="margin-top: 100px;" class='share' src="{% static 'images/share.svg' %}" alt="">
        <h1 class="lakhan">Why should I donate Books From SharedShelf ?</h1>
    </div>

    <div class='square'>


        <div class='row1'>
            <img src="{% static 'images/paper.svg' %}" alt="">
            <h3>Paper Demand is going high</h3>
            <p class="elementor-icon-box-description">It takes 12 trees to make one ton of 100 percent non-recycled newsprint. 4.12 Million tree are cut every year for the manufacturing of paper alone.</p>
        </div>

        <div class='row2'>
            <img src="{% static 'images/nowornever.png' %}" alt="">
            <h3>Its Now or Never</h3>
            <p class="elementor-icon-box-description">Its our time to re-think our habbit of use and throw. Its really a very sensible to practise habbit of reusing, irrespective of your capacity to get new stuffs at a very higher price.</p>
        </div>

        <div class='row3'>
            <img src="{% static 'images/increase.png' %}" alt="">
            <h3>Increase in printing cost</h3>
            <p class="elementor-icon-box-description">Every year when a book is reprinted, its sold in higher price than it was sold during the previous year.</p>
        </div>

        <div class='row4'>
            <img src="{% static 'images/recycling.jpg' %}" alt="">
            <h3>Someone's throwaway is someone's treasure</h3>
            <p class="elementor-icon-box-description">Anyway someone is going to throw away the book even if its in good condition, why not you can use it.</p>
        </div>

    </div>

    <br>
    <br>
    <br>

    <br>
    <br>
    <br>
    <div class="container">

        <h3 style="font-weight:800">Donor's Guide</h3>

        <div class="donor">

            <h4>What kind of books can i share ?</h4>
            <p>We accept following kinds of books </p>
            <ul style=" background-color:white;">
                <li style=" background-color:white;">Engineering Text books</li>
                <li style=" background-color:white;">Medical Text books</li>
                <li style=" background-color:white;">reference books</li>
            </ul>



            <h4>What kinds of books I cannot share with SharedShelf ?</h4>
            <p>We don't accept these following books</p>
            <ul style=" background-color:white;">
                <li style=" background-color:white;">Magazines</li>
                <li style=" background-color:white;">Periodicals</li>
                <li style=" background-color:white;">Xerox or Photocopied or Spirel bound study material even if they are in very good conditions.</li>
            </ul>
        </div>


        <div class='container2'>
            <h3 style="font-weight:800">Borrower's guide</h3>
            <h4>Its Now or Never</h4>
            <p>Its our time to re-think our habbit of use and throw.<br> Its really a very sensible to practise habbit of reusing, irrespective of your capacity to get new stuffs at a very higher price</p>

        </div>
        <div class=" benefit ">
            <h4>What is the benefit of sharing books at SharedShelf ?</h4>
            <ul style=" background-color:white;">
                <li style=" background-color:white;">Your Old resources can be properly distributed.</li>
                <li style=" background-color:white;">The students who need the books can search for the book on our site and get book for free. </li>
            </ul>


        </div>

</body>

</html>